# CDK
*.js
!jest.config.js
!lambda/**/*.js
*.d.ts
node_modules/
cdk.out/
cdk-outputs.json

# Lambda dependencies
lambda/node_modules/
lambda/package-lock.json

# Environment
.env
.env.local

# Build
dist/
build/
